# Core WordPress files
/wp-admin/
/wp-includes/


# Uploads directory (optional)
wp-content/uploads/
/wp-content/wpvivid_staging/
/wp-content/wpvivid_uploads/
/wp-content/wpvividbackups/

# Sensitive files
wp-config.php
.htaccess

# Temporary or system files
*.log
.DS_Store
Thumbs.db